/* iconos en posición vertical*/
.icon-bar {
  position: fixed;       /* Fija en la pantalla */
  top: 50%;              /* Centrado verticalmente */
  left: 0;               /* Pegado al lado izquierdo */
  transform: translateY(-50%);
  background-color: #555;
  display: flex;
  flex-direction: column;
  z-index: 1000;
}

.main-content {
  margin-left: 70px;  /* o el mismo ancho de tu .icon-bar + espacio */
  padding: 20px;
}

.icon-bar a {
  /*display: block; /* Make the links appear below each other instead of side-by-side */
  text-align: center; /* Center-align text */
  padding: 16px; /* Add some padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 20px; /* Increased font-size */
  text-decoration: none;
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.active {
  background-color: #04AA6D; /* Add an active/current color */
}

/* iconos en posición horizontal*/
/*.icon-bar {
    width: 25%; /* Full-width 
    background-color: #555; /* Dark-grey background
    overflow: auto; /* Overflow due to float 
  }
  
  .icon-bar a {
    float: left; /* Float links side by side
    text-align: center; /* Center-align text 
    width: 20%; /* Equal width (5 icons with 20% width each = 100%) 
    padding: 12px 0; /* Some top and bottom padding 
    transition: all 0.3s ease; /* Add transition for hover effects 
    color: white; /* White text color 
    font-size: 36px; /* Increased font size 
  }
  
  .icon-bar a:hover {
    background-color: #000; /* Add a hover color 
  }
  
  .active {
    background-color: #04AA6D; /* Add an active/current color 
  }*/
  


 